[2016-09-01 02:01] pps83 opened #1 "Add content length check when handling http requests"
Issue was submitted by mistake and [moved to appropriate section](https://github.com/nodejs/http-parser/issues/331).

[2016-09-01 02:39] pps83 opened #2 "Full body isn't received when writing chunks with small delay"
Issue was submitted by mistake and [moved to appropriate section](https://github.com/nodejs/http-parser/issues/332).

[2016-09-01 02:42] pps83 commented on #2
I just realized it's http v2 specific. My report is about basic node's htt[ module

[2016-09-01 02:43] pps83 commented on #1
I just realized it's http v2 specific. My report is about basic node's http module

[2016-09-01 02:47] #1 closed

[2016-09-01 02:49] #2 closed

[2016-10-12 15:33] jasnell opened #4 "TODOs"
- [x] Check in nghttp2 deps, initial build support
- [x] Begin src/node_http2.cc and src/node_http2.h glue code
- [x] Begin lib/internal/http2.js implementation
- [x] Basic server
- [x] Graceful server side connection shutdown
- [x] Server server timeout handling / or, how to know when the server can shut down the socket
- [ ] Are we leaking any memory?
- [ ] Tests tests test tests
- [ ] Benchmark

[2016-10-14 08:26] mcollina opened #7 "engaging with the maintainer of http2 on npm"
@nwgh @molnarg - we are in the process of adding support of HTTP2 to core, using nghttp2.

I think any point of view you have on the APIs, the challenges, etc, will be highly welcome.

[2016-10-14 08:38] ronkorving commented on #7
I would then like to poke @indutny for the same reason (https://www.npmjs.com/package/spdy)

[2016-10-17 19:08] nwgh commented on #7
Hi @mcollina (and others working on this). First of all, a big :thumbsup: for this effort - it will be great to have a robust, high-performance h2 implementation in node core.

For me, the biggest challenge (that will be relevant to the node-native implementation) is how and what error states to expose versus performing automatic fallbacks/retries/etc.

One example of this is receiving the error c

[2016-10-19 09:07] AnshulMalik commented on #4
Hi there !

I am new here. I have been using node for a while, now I'd like to contribute :)
I think I can do some work here. Please let me know some more details of implementation and current progress.

[2016-10-24 16:22] mcollina commented on #7
thanks for your very long response! we'll let you know if there are more questions!

[2016-11-01 17:31] jasnell commented on #4
@AnshulMalik ... I'm in the process of working up some design docs for this that should help.

[2016-11-14 09:40] mcollina opened #10 "tests not passing"
[code]

[2016-11-14 09:42] mcollina opened #11 "missing unit tests"
I think we should track down all the part of the APIs and tests that needs to be added.
Having a list of unit tests that we want to cover makes easier for others to contribute.

[2016-11-17 00:16] jasnell commented on #10
+1, I'll fix this in the next round of updates

[2016-11-17 00:17] jasnell commented on #11
Agreed. It's been a bit difficult because the APIs have been a bit in flux but things should be stabilizing a bit now. Coming up with a list of possible tests should be feasible.

[2016-12-02 18:28] jasnell opened #17 "Use _writev in the Http2Stream duplex and Http2Outgoing"

[2016-12-02 18:29] jasnell opened #18 "Move [kRusume]() calls into internal src/node_http2.cc as much as possible"

[2016-12-02 18:39] jasnell opened #19 "Internal buffering of writes before telling nghttp to resume a stream"

[2016-12-05 15:01] mcollina opened #22 "Memory leak with h2load"
As titled, memory usage grows as more data is pushed.

[2016-12-05 15:34] jasnell commented on #22
Which? heap usage was looking pretty good last week but there is a definite growth in rss that needs to be looked into that I haven't yet had a chance to investigate

[2016-12-05 15:51] mcollina commented on #22
RSS I presume, htop shows memory grow steadily and never going down.

[2016-12-05 15:58] jasnell commented on #22
Yep that's consistent with what I've seen. I suspect that it has to do with
the additional buffering not getting cleaned up properly but I haven't yet
investigated

On Mon, Dec 5, 2016 at 7:51 AM Matteo Collina <notifications@github.com>
wrote:

[2016-12-07 17:30] mcollina opened #26 "HTTP2 meeting"
We should have a quick call to discuss how to progress this better.

How about the 20th Dec at 5pm GMT? Does it work for everyone?

Join: https://hangouts.google.com/call/t7zou5rcnnf5begg7dqqicjbcie
Watch: https://www.youtube.com/watch?v=uQtKyX0eB2A

[2016-12-09 10:57] mcollina opened #27 "setHeader is an hot function"
Currently we cross the JS/C++ boundary quite a lot in `setHeader`, and we cause some mallocs. Can we avoid that, or make it less of an issue? Maybe we can batch the headers, and pass them down all together before starting the reply.
<img width="1138" alt="schermata 2016-12-09 alle 11 54 46" src="https://cloud.githubusercontent.com/assets/52195/21046784/9051d65e-be06-11e6-865a-a6c7dfc9e10e.png">

[2016-12-09 15:23] jasnell commented on #27
Yes, I'm planning on refactoring this entire bit next week.

[2016-12-16 07:32] RobertWHurst opened #29 "Why is http2 exposed as a property of the http module?"
Hi everyone. I'm just curious why http2 is exposed via `require('http').HTTP2`? Is this temporary, or the final API? It seems a bit clunky. I was hoping we'd see `require('http2')`.

As an aside, this is really cool stuff. Really exciting to see this under development. Thanks for your efforts here. 🍻

[2016-12-16 17:01] jasnell commented on #29
There is an existing `http2` module on npm that would conflict if we exposed the new http/2 functionality that way. It is unfortunate but necessary. And yes, hopefully it is temporary until a better solution can be found.

[2016-12-16 17:15] sebdeckers commented on #29
Could ask nicely if the author of `h2` minds giving up their NPM name. Doesn't seem like there are many downloads. Also, `http-2` with a hyphen is available.

- https://www.npmjs.com/package/h2
- https://www.npmjs.com/package/http-2

[2016-12-16 17:28] jasnell commented on #29
Definite possibility. I'd rather avoid hyphenated names as much as possible. Requesting the `h2` package name seems like a good choice.

[2016-12-16 17:35] ChALkeR commented on #29
I expect a _significant_ number of people mistyping that as `http2` and wasting time on that in the best case, and gaining some other problems from that in the worst case.

[2016-12-16 17:44] jasnell commented on #29
@jmandzik ... how would you feel about the possibility of transitioning ownership of the `h2` module name to Node.js core?

[2016-12-16 22:14] RobertWHurst commented on #29
@nwgh If http2 gets added to core, would you mind giving up the namespace so the core solution can be be implemented elegantly?

[2016-12-16 22:56] jmandzik commented on #29
@jasnell I'm happy to relinquish it, especially for node core! I'm traveling this weekend with limited access to computer, but I'll circle back with you Monday if that works.

[2016-12-16 22:57] jasnell commented on #29
Definitely works. Thank you!
On Fri, Dec 16, 2016 at 2:56 PM Justin Mandzik <notifications@github.com>
wrote:

[2016-12-18 21:17] RobertWHurst commented on #29
As much as I think h2 is better than a property tacked onto http, I think h2 might confuse users as it's not clear what h2 means. The core API should demonstrate good API design. I don't think h2 for http2 exactly fits in this regard as it's inconsistent with the http and https module. Would love to hear what @nwgh thinks here.

[2016-12-19 00:08] nwgh commented on #29
Hi all. Sorry for the lag, must be that time of year :) Anyway, I'm more than happy to give up the "http2" namespace for core. I definitely think that makes the most sense in all respects. I don't have great access to rename the package on npm right now, but later this week I'll rename to something (once I come up with a reasonable name) as I personally (in my role as a Firefox developer) will con

[2016-12-19 17:19] mcollina commented on #29
@nwgh I don't know what is the process for all of this. We should probably get NPM and the TSC/CTC involved. I would like to keep the ecosystem disruption as small as possible.

[2016-12-19 18:55] jasnell commented on #29
We should definitely work through the process with npm... paging @zkat and @isaacs for assistance on this.

[2016-12-19 23:06] zkat commented on #29
You shouldn't really need us for this. https://www.npmjs.com/policies/disputes is our name dispute policy, and it has instructions on transferring names (tl;dr `npm owner add <new-owner>`). Keep in mind that formerly-published versions cannot be published over, and if they've been out long enough, cannot be unpublished. This should not be an issue, as you can simply deprecate it with a message to

[2016-12-19 23:22] isaacs commented on #29
What @zkat said also happens to be the official position of npm, Inc. on this matter.

If node-core adds a new builtin that takes over a name currently used in npm, well, that sucks.  We've been there before.  Please be very careful about that.

If you want the existing owner to move off the name, follow this: https://www.npmjs.com/policies/disputes

If you want technical guidance about how to mak

[2016-12-19 23:37] jasnell commented on #29
@zkat ... Thank you very much for the clarification. That's what I had suspected but wasn't sure if the unpublish policy changes had altered the process on this at all.

[2016-12-20 01:11] zkat commented on #29
I figured it would be good for other folks here if I spelled out the technical constraints here.

## How Do Native Module Conflicts Work?

* Native modules [*always* take precedence](https://nodejs.org/api/modules.html#modules_all_together) over `node_modules`.
* If users on `node@>=8` do `npm install http2`, they will only be able to `require('./node_modules/http2')` to use the installed one.
* `

[2016-12-20 01:32] RobertWHurst commented on #29
I know I'm not involved in the heavy lifting going on here, but I want to say; @nwgh and @jmandzik, It's very cool of you guys to offer up your namespaces. I could imagine building a popular package then passing it off to the core team can feel a bit difficult. Super cool to see you guys so willing to do so in order to make node better. Love seeing this kind of kindness 🍻

[2016-12-20 08:33] mcollina commented on #29
I do not want to remove enthusiasm from everyone, but http2 in core is not ready to ship, and the current plan is to land it in node 8 behind an experimental flag, or with a "experimental" stability indicator: http2 support will break while we go, and there will be bugs.
For the whole of node 8 life, the better option will be to use the `'http2'` module on npm if anyone wants stability. I hope thi

[2016-12-20 13:42] mcollina commented on #26
Is this on today?

[2016-12-20 15:27] jasnell commented on #26
Oy... unfortunately I completely forgot about this one and have a schedule conflict at 5pm GMT :-( ... would it be possible to move it to Thursday?

[2016-12-20 16:59] mcollina commented on #26
There are no issues on my side. Can we do it a bit earlier? Maybe at 17 or
18 GMT?

I'll send you an invite.
Il giorno mar 20 dic 2016 alle 16:27 James M Snell <notifications@github.com>
ha scritto:

[2016-12-23 07:20] Dinfyru opened #30 "Sending illegal frame (DATA) in CLOSED state. and AssertionError: false == true"
node -v 6.9.2
One error
[code]
second
[code]
My server.js
[code]
and boot.js (clustering) - http://pastebin.com/YzGsJVUk

[2016-12-23 07:25] mcollina commented on #30
This is definitely not the module you are looking for. That is https://github.com/molnarg/node-http2.

This is an implementation in Node core of http2, which will be shipped in the next major release (hopefully).

[2016-12-23 07:25] #30 closed

[2016-12-23 08:11] dinfyru commented on #30
@mcollina Sry, my bad))) But mb you can help me some, plz)

[2017-01-09 08:03] mcollina commented on #26
@jasnell ping, should we do this call over this week?

[2017-01-09 16:20] jasnell commented on #26
Yes, a call would be great. What days/times would be best? Want to put together a doodle? I can pretty much make any time work this week

[2017-01-09 16:21] mcollina commented on #26
Let's a do a doodle, as others might want to join.

[2017-01-09 16:47] evanlucas commented on #26
yay, I would be interested in joining if y'all don't mind. Thanks!

[2017-01-09 22:48] italoacasas commented on #26
Can you guys make sure of recording this? I'm on vacations but I still have pending the "list of tests that needs to be added"...

[2017-01-10 08:55] mcollina commented on #26
Hey folks, here is a doodle: http://doodle.com/poll/ptudtfhtgpismfzd

[2017-01-10 08:57] targos commented on #26
@mcollina this link is 404.

[2017-01-10 08:59] mcollina commented on #26
@targos updated http://doodle.com/poll/ptudtfhtgpismfzd.

[2017-01-11 16:22] mcollina commented on #26
I've closed the doodle for tomorrow, Thursday 12th at 17:00 GMT.

Should I set up the hangout and the recording?

[2017-01-11 17:18] jasnell commented on #26
yes please!

[2017-01-11 17:51] williamkapke commented on #26
Added to the Calendar!
https://calendar.google.com/calendar/embed?src=kap.co_i17i575te0aes6kaanfjr2e4hs%40group.calendar.google.com

PS: there are several meeting following this that plan to use the live channel- so don't go over 1hr!

[2017-01-12 08:45] mcollina commented on #26
I've added the links to join or watch at the top.

[2017-01-12 15:14] jasnell commented on #26
Ugh. I've had a conflict come up that means I'm only going to make the first 30 minutes of this meeting. Let's see what we can accomplish in that time and maybe look at scheduling a follow on meeting for next week

[2017-01-12 16:15] evanlucas commented on #26
Unfortunately, I've had something come up as well. Really sorry for the late notice, but I won't be able to make it today. :[

[2017-01-12 16:58] mcollina commented on #26
Joining link updated.

[2017-01-12 17:41] mcollina commented on #26
Some points from the meeting:

* we lose throughput on the multiple buffering levels between the JS Streams, on the writing side.
* we still plan to ship this behind a flag in Node 8.
* we still need a client implemented.

Actions:

* @jasnell is going to merge #31.
* next up is a rebase from master and update of ng
* @jasnell is going to focus on optimizing HTTP2Stream, and we will move the HTTP2

[2017-01-15 08:47] c0b commented on #4
wonder if there are any binaries published with this http2 in core? or do I have to compile from source code if I want to test play with?

how about make another rc channel like the nightly? you don't have to publish really every night, but some kind of CI pipelines to release binaries every week would be very nice
https://nodejs.org/download/nightly/

[2017-01-15 10:04] joyeecheung commented on #4
@c0b If I understand correctly this is not shipped in any binaries at the moment, it's in its own repo to separate the issues and PRs. From https://github.com/nodejs/http2/issues/26#issuecomment-272230496 I think this is going to be shipped behind flag in Node 8(April this year).

[2017-01-17 20:37] not-an-aardvark commented on #29
Would it be possible to have the `2` as a module path, i.e. `require('http/2')`? This would avoid package name conflicts (`http` is already a core module), and it's also very recognizable (`HTTP/2` is actually the official name of the spec).

[2017-01-17 21:32] RobertWHurst commented on #29
@not-an-aardvark Why? We already have agreement from @nwgh, the package owner of http2 for using it's package name once this feature eventually drops.

[2017-01-17 21:47] not-an-aardvark commented on #29
Given that the existing `http2` module has over 100000 downloads per month, changing the meaning of `require('http2')` to return a different module will probably cause a significant amount of breakage. We could change it in a major version, of course, but unless people consider the name `http/2` to be significantly worse than `http2`, it seems like it would be better to pick a name that avoids bre

[2017-01-18 00:15] RobertWHurst commented on #29
Just my two cents here, but I believe it's better to be consistent with the rest of the core modules. `http/2` implies to me that it's a sub component for the `http` module which it is not.

As for rolling the major. It can't be done as core modules are not versioned in the user's package.json. As for code breakage, I would argue that when a user upgrades their node version a whole major, they are

[2017-01-18 00:25] not-an-aardvark commented on #29
The user might not be depending on `http` themselves -- they might have a dependency three levels deep which is using the `http2` module. Upgrading in situations like this is often nontrivial. It's typically better to avoid breaking changes unless there's a good reason to do so, even in a major release.

I'm not saying that we can't use the `http2` name -- I'm just saying that we should consider n

[2017-01-18 01:29] RobertWHurst commented on #29
@not-an-aardvark I agree, minimizing breakage is very important. I would just add that so is consistency. Without it you end up with an ugly system. `http/2` seems incorrect. A `/` in a module name has been a separator of a parent and child namespace. `2` is not a module name, and `http` is not it's parent.

The course of action I think would be best here is that __the `http2` module gets republis

[2017-01-18 01:55] not-an-aardvark commented on #29
For what it's worth, I think `http/2` could be reasonably consistent if we made `http/1` an alias for `http`. `http` would effectively be a namespace for all the core `http` libraries (and it would scale well if there is ever an `http3`, for example).

[2017-01-18 02:06] ronkorving commented on #29
I'm probably gonna sound like a complete tool (since I haven't really followed the API design work being done here), but can't http2 simply be married with the already existing built-in http and https? I'm sure that would be a challenge, but would it be impossible? Both `spdy` and `http2` modules on NPM have an API that is in essence very similar to the built-in http module, they "just" add extra

[2017-01-18 02:09] jasnell commented on #29
The http/2 protocol is fundamentally different from http/1 is so many ways that somehow merging the two would be entirely impractical and, in many cases, impossible.

[2017-01-18 04:45] isaacs commented on #29
This really is a bikeshed.  Here's what I'd recommend (because of course what this is lacking is Yet Another opinion, ha ha)

1. Include HTTP/2 support in core as `require("http").http2`, as it currently is.  As warts go, it's not a bad one.
2. Send a PR to the `http2` module to do this:  `var http = require('http'); if (http.http2) return module.exports = http.http2; // else, API-matching userlan

[2017-01-19 03:41] RobertWHurst commented on #29
@isaacs I see what you're saying here. I'm just unclear why you suggest going the warty road here. Unlike the browser environment node has proper versioning. The trade off here in my opinion is that node ends up looking rather confusing to newcomers. It doesn't seem unreasonable to ask that a node user update their code when they decide to bump the Node version a major release.

[2017-01-19 06:41] isaacs commented on #29
@RobertWHurst It's easy to underestimate the cost of breaking changes in Node.js, because as you say, upgrades are opt-in, so what's a few more changes?

But these changes add up, and they result in creating the impression that Node.js is unstable, unreliable, and chasing newness for its own sake rather than investing in quality and the needs of users.  You can argue it's unfair, but the fairness

[2017-01-19 10:12] akc42 commented on #29
Why should it be `require('http').http2` and not `require('https').http2`  Also should not `http2.createServer()` with the same parameters as the https version be how you create a server?

[2017-01-19 15:24] jasnell commented on #29
At this point, we do not need to nail down what the exact namespace / entry point will be. We will have a reasonable entry point and we will take ecosystem impact into consideration in the process. I really appreciate the current owners of the `h2` and `http2` modules being willing to turn those over if necessary but it's too early to say for certain that we'll need them. When the time comes to fi

[2017-01-19 21:01] cebrakadabra commented on #4
@jasnell does it mean, by the time all of those todos (especially tests) are checked it will be available in nodejs core? which version are you guys considering going out with it?

also @joyeecheung is this info from you the official estimation for releasing http2 in node core?

[2017-01-20 05:31] joyeecheung commented on #4
@cebrakadabra Er, no, I'm not involved in the HTTP2 implementation at the moment, this is just what I observed from https://github.com/nodejs/http2/issues/26#issuecomment-272230496

[2017-01-20 05:37] jasnell commented on #4
No, this is just an informal list. The current plan is to try to get http/2 into 8.x as an experimental feature. When that will land is still undetermined.

[2017-01-26 23:44] c0b commented on #4
today just reading on this http://ivanjov.com/running-express-koa-and-hapi-on-http-2/ mentioned:

just wonder why you guys didn't pick up from either http2 or spdy npm module; I believe you guys are aware of those but still choosing to start with nghttp2 library, you have some comparisons since beginning? have documented somewhere? Pros and Cons

[2017-01-27 06:34] joyeecheung commented on #4
@c0b I remember watching @jasnell 's talk at Node Interactive and the significant performance improvement of this one over the npm module was mentioned. Couldn't find the link to the slides/the benchmarks though, but the talk is [on YouTube](https://www.youtube.com/watch?v=7uNGKCao8gA)

[2017-01-27 07:43] mcollina commented on #4
@c0b there are several reasons, but probably those have not been documented publicly apart from WG meeting notes.
To sum up, the modules you mentioned offer a significant slowdown in performance compared to HTTP1, making them not suitable for production uses apart from very specific cases. JS-only implementations happens because HTTP2 is a multiplexed protocol: doing this in JS-land is extremely c

[2017-02-01 17:49] #26 closed

[2017-02-01 17:51] mcollina opened #38 "Feb 2017 meeting"
How about we set up a call in the next couple of weeks to discuss how this is moving forward? There have been a lot of progress.

[2017-02-01 19:07] jasnell commented on #38
+1 ... want to set up a doodle poll?

[2017-02-01 19:57] mcollina commented on #38
Here it is: http://doodle.com/poll/mm9ezh8eiw44nwnr

[2017-02-03 12:15] Somebi commented on #29
So after all, how it will be called? Any docs available? Is it available in nightly build? Any info related to http2 should be added to the main page. It's kinda missing or i wasn't reading carefully...

[2017-02-03 14:36] jasnell commented on #29
Still a work in progress but the current implementation is available
through require('http2') in this repo.

On Fri, Feb 3, 2017 at 4:15 AM Beck <notifications@github.com> wrote:

[2017-02-06 17:16] mcollina commented on #38
If anyone has no objection, I'd go for Monday 13th at 17:00 GMT.

[2017-02-06 20:09] williamkapke commented on #38
Welp- the 2 people on the doodle agree... sooo I'm adding it to the calendar.

[2017-02-06 20:10] williamkapke commented on #38
Ha! @mcollina beat me to it ;)

[2017-02-07 05:09] williamkapke commented on #38
I just realized that the Board meeting wasn't added to the calendar- which starts at the same time. I feel confident they won't move their time ;) Any chance you can move this one?

I've noticed people seem pretty interested in this topic... so it would be really cool if ya'll could broadcast it live though.

FYI @mikeal

[2017-02-07 05:12] mikeal commented on #38
We might actually need to push the public session to the end of this month's board meeting because of a scheduling conflict with some of the people we need in the private session. Let me get back to ya'll on this.

[2017-02-07 08:23] mcollina commented on #38
@mikeal let us know.

[2017-02-07 09:56] mcollina opened #40 "stream.respond() not ordering :status header correctly"
This works:

[code]

This doesn't:

[code]

This is the output

[code]

cc @jasnell I think we should send `:status` before everything

[2017-02-07 16:37] jasnell commented on #40
There is a fix for this in my round 10 pr

[2017-02-07 16:39] mcollina commented on #40
awesome. I'll need to get #37 rebased when that lands.

[2017-02-10 15:03] mcollina commented on #38
@mikeal what's the status of this? is the board meeting moved or not?

[2017-02-10 17:27] mikeal commented on #38
We're doing our public session at 11am PT so it's fine.

[2017-02-13 16:58] mcollina commented on #38
Streaming URL: http://youtu.be/uVci5Ixg46U
Join: https://hangouts.google.com/call/jz2qkh3d5rhlvm24fquow2ma7me

[2017-02-13 17:52] mcollina commented on #38
Some notes on the outstanding PRs

- round 10 #36 will be done in the next couple of weeks, the main change is how headers are passed down during response. The goal is to avoid double-copying as much as possible.
- the compatibility mode #37 is ready to go after #36 lands.

The client is still missing, so we can't really write that many unit tests. After the current open PRs, we need to get things

[2017-02-14 04:17] sebdeckers commented on #38
@mcollina The Youtube link you just posted is titled as 13 January. I believe this is the link for the Feb meeting but it is cut off after 37s. Very curious to hear where you guys are taking this effort. 👀  https://www.youtube.com/watch?v=gaGr1ravl6w

[2017-02-14 08:36] mcollina commented on #38
The link is correct, but the title is wrong: https://www.youtube.com/watch?v=uVci5Ixg46U. I've just updated it.

[2017-02-17 17:45] mcollina commented on #38
Fixed by #36

[2017-02-17 17:45] #38 closed

[2017-02-17 17:46] mcollina commented on #40
Fixed by #36

[2017-02-17 17:46] #40 closed

[2017-02-17 17:46] mcollina commented on #38
wrong message, but it needed to be closed anyway.

[2017-02-20 18:46] italoacasas opened #42 "Test List"
cc: @jasnell, @mcollina, @addaleax

I start working on the test list today, I will be updating the list while gathering more information. I'm open the issue that way everyone can give feedback about what should be in/out/priority, etc...

## Test List

- [ ] Errors conditions (James list)
- [ ] Server with connections that prematurely exists (James list)
- [ ] Basic server with configuration optio

[2017-03-04 16:23] mcollina commented on #42
hey @italoacasas, since today we have a minimal http2 client (see #43). The API is definitely not finalized, but we can definitely get some help in ramping up the test and test coverage. Maybe we can turn that bullet list into a task lists, and start adding those.
I think those tests would help in driving the client API.

cc @jasnell

[2017-03-04 16:24] mcollina commented on #27
This should be fixed.

[2017-03-04 16:24] #27 closed

[2017-03-04 16:24] mcollina commented on #11
Closing in favor of #42

[2017-03-04 16:24] #11 closed

[2017-03-04 16:25] mcollina commented on #10
Fixed.

[2017-03-04 16:25] #10 closed

[2017-03-04 16:25] mcollina commented on #17
I think this is fixed.

[2017-03-04 16:25] #17 closed

[2017-03-04 16:26] mcollina commented on #18
is this fixed?

[2017-03-04 16:26] mcollina commented on #19
it this fixed?

[2017-03-04 16:32] #18 closed

[2017-03-04 16:32] jasnell commented on #18
Yes it is!
On Sat, Mar 4, 2017 at 8:26 AM Matteo Collina <notifications@github.com>
wrote:

[2017-03-06 02:19] italoacasas commented on #42
@mcollina I'm not going to be around next week.

-  I change the list for bullets point.

- The list is a work in progress, still pending most of the server tests. But at least we have a guide for a portion of what we need to do. I will work on this if no-one does when I come back.

- Maybe creating a Project is a good idea, remember the way we did this for the `streams internal states` tests?

[2017-03-06 10:32] mcollina commented on #42
@italoacasas definitely. We can do a project, and open some issues here.
It's a ton of work, as I expect those features *not* to work as expected (vs what we did for streams).

[2017-03-06 18:33] mcollina opened #44 "delayed open scenario"
I'm trying to add "delayed open" scenario, and I am trying to create an `Http2Stream` before we have a connected socket.

I have a prototype that defers  `handle.consume(socket._handle._externalStream);`, but then I get into:

[code]

@jasnell do you think what I am trying to achieve is feasible?

[2017-03-06 18:41] jasnell commented on #44
hmm... it's feasible but not with the code written the way it is now. The underlying nghttp_session is not created until the Http2Session object is created and that object requires the socket external to be passed. We can separate the construction of those two by having a separate method for attaching the socket external.

[2017-03-13 16:48] mehdishojaei opened #46 "Cannot find res.createPushResponse() in Http2Response."
* **v8.0.0-pre**:
* **Darwin**:

Thanks for your nice work.

Seems that the [doc](https://github.com/nodejs/http2/blob/master/doc/http2-implementation-notes.md#method-responsecreatepushresponse) for the `http2` is not updated, I know that the `http2` module itself implemented as a separate module named `http2` but cannot find the `res.createPushResponse` method. Can you please help me?

Thanks aga

[2017-03-13 17:09] mcollina commented on #46
This is a work in progress branch, and things might slip out of sync.
Would you like to help by contributing to this one?

[2017-03-14 05:21] mahdi-shojaee commented on #46
I like to help by any contribution, but unfortunately these days I'm so busy.

[2017-03-14 06:09] #46 closed

[2017-04-01 09:04] mightyiam opened #52 "Keep it up"
:medal_military:

[2017-04-01 09:04] #52 closed

[2017-04-26 00:08] kjin commented on #19
@jasnell Could you elaborate on what this means? I think I am running into something just like this -- will document in another issue.

[2017-04-26 00:25] kjin opened #55 "Client hangs after first WINDOW_UPDATE"
The client seems to hang sometimes after sending its first `WINDOW_UPDATE` frame, and this is most readily seen when it opens a single stream with a small `initialWindowSize`. In C++, `DrainCallbacks` isn't being called after the first window update frame is sent.

I think there is a race condition involved, given that opening multiple streams increases the likelihood that all streams will receive

[2017-05-02 01:45] jasnell opened #57 "Updating master from upstream"
FYI @mcollina @kjin @nodejs/http2 ... I am updating master from upstream core again which is going to require a force push. Please be sure to rebase whatever you're working on.

[2017-05-02 17:44] jmuk opened #59 "a better default configuration for TLS connection of http2"
It seems the TLS socket is initialized as `tls.connect(port, host, options)` in `http2.connect`. Some existing HTTP2 servers require some TLS options to set up the connection properly. More specifically:
- servername (for Server Name Indication)
- ALPN / NPN, specifying 'h2'

I believe those should be set by defaults, then passing a URL string will just work.

Also, maybe it's better to use `secur

[2017-05-02 17:50] jasnell commented on #59
The `ALPN/NPN` bit should already be handled internally by the code. If it's not, then that's definitely a bug. For the SNI, that should be able to be passed in on the `options` but I haven't tested it yet.

[2017-05-02 17:59] jmuk commented on #59
I think you're talking about the servers, but I was talking about the clients (sorry I wasn't clear).

The http2 client sockets are initialized around https://github.com/nodejs/http2/blob/master/lib/internal/http2/core.js#L1238 but no ALPN/NPN are specified yet, if I understand correctly.

SNI can be specified through `options` indeed, but (for the clients) I think it's better to specify the host

[2017-05-02 18:01] jasnell commented on #59
Ok. I'll verify shortly and will make the sni change. Thank you!

[2017-05-02 22:39] kjin opened #62 "Http2Session::destroy doesn't destroy associated socket"
`Http2Session::destroy` doesn't call destroy on its socket, so in order to close a connection completely on the client side, `socket.destroy()` must be called on the socket exposed by the `Http2Session` object.

I noticed that `socket.destroy` calls `destroy` on its parent session (I would've expected the other way around). Is there a reason for doing this?

[2017-05-03 10:44] unbalanced opened #63 "HTTP/2 requests"
Hey guys, i see this is a WIP repo - way to go for that important feature!

My question:
Is it part of the plan to add support for HTTP/2 for requests going out of a node app (client mode)
e.g. something like
[code]
Will use HTTP/2.

(asking since all the discussions that i've seen here are referring to adding HTTP/2 server capabilities)

Many thanks.

[2017-05-03 10:59] mcollina commented on #63
the model for http2 will be slightly different, you'll have to do http2.connect() to create a session, and then you could issue your requests. Feel free to check the tests, some of them use the client.

[2017-05-03 14:20] unbalanced commented on #63
@mcollina - Thanks for the fast response.

[2017-05-03 14:20] #63 closed

[2017-05-04 09:13] mcollina opened #66 "http2: HTTP 1 connection upgrade path"
In the current http/1 implementation, support for detecting an HTTP/2 upgrade request can be added. This would take two forms: 1. when setting up an HTTPS server, detect the ALPN `h2` option, and 2. when setting up an HTTP (plaintext) server, detecting the upgrade request. If either of these are detected, then either the existing `upgrade` event, or a new `upgrade-http2` event on the server can be

[2017-05-04 09:27] mcollina opened #67 "http2: status of push API"
placeholder from the collab summit in Berlin

[2017-05-04 09:32] mcollina opened #68 "http2: websocket upgrade path?"
How this is supported in HTTP2?

[2017-05-04 09:39] jasnell opened #69 "http2: prioritization api / support"
There are several things needed here:

1. Method for setting the priority (this is already available)
2. Event when a priority change request has been received.
3. Event when the priority of a stream has actually changed.

[2017-05-04 09:46] jasnell opened #70 "http2: padding support"
How will this work?
Should we even support it in the first version?

[2017-05-04 09:56] mcollina opened #72 "http2: streams does not exist in onSessionStreamClose"
Command: `h2load -n 1000 http://localhost:8000/`.

Error:

[code]

The reason this happens is because `onSessionStreamClose` is called after `onSessionClose`.
server:

[code]

[2017-05-04 09:56] mcollina opened #73 "http2: document how to benchmark"

[2017-05-04 10:28] lpinca commented on #68
AFAIK there is no spec: https://daniel.haxx.se/blog/2016/06/15/no-websockets-over-http2/

[2017-05-04 12:28] robertkowalski opened #76 "http2: get path throws"
To me it looks getting the path and/or headers is broken:

[code]

still haven't found out if the client doesn't send a path in general or if the issue is on the server side

[code]

depends on https://github.com/nodejs/http2/pull/75 -- without https://github.com/nodejs/http2/pull/75 a request crashes with:

[code]

[2017-05-04 12:34] robertkowalski commented on #67
Question: Do we want to support legacy APIs?

`test-http-set-cookies.js` uses a currently **not** documented way to set headers (note the nested array instead of a flat object):

[code]

I'm in favor of just supporting objects. However I remember somehow from this morning that the goal is to support as much of the old behaviour as possible. What do you think @nodejs/http2 ?

[2017-05-04 12:56] mcollina commented on #67
@robertkowalski I'd focus on documented behavior.

[2017-05-04 13:03] yosuke-furukawa opened #77 "http2: client.socket.destroy() throws AssertionError: Internal HTTP/2 Failure. Stream does not exist."
I just tried to write some tests like this.

[code]

but I have got the following errors

[code]

But following code is passed

[code]

* **Subsystem**:
http2

I tried to debug this, but I cannot find some hints.

[code]

[2017-05-05 04:33] jasnell opened #79 "Process notes"
Now that we have quite a few more people looking at this and looking to contribute, we should start formalizing the process. I talked about some of this at the collaborator summit meeting yesterday, so I apologize if it's a repeat for some of you.

1. Up to this point, it's largely been @mcollina and I working on this so we hadn't been following a more formal review and sign off process. Now that

[2017-05-05 04:36] jasnell commented on #77
Ok, I'll try to take a look and trace down why this is happening. Basically tho, that assertion is thrown because some part of the life cycle is off. The stream the code is attempting to access has already been removed from the map that tracks them, which only happens when the stream has been closed. So something in here is attempting to work with the stream after the close event has already been

[2017-05-05 04:38] jasnell commented on #76
Ah yes, this is caused by a recent change in the linked list api over in master. Some of the functions were removed and this part of the code hadn't been updated yet to reflect those changes. We have a PR here that should fix it: https://github.com/nodejs/http2/pull/75

[2017-05-05 06:32] #57 closed

[2017-05-05 06:33] jasnell commented on #44
Closing this as we having a working solution for now. It can be improved, however.

[2017-05-05 06:33] #44 closed

[2017-05-05 06:33] jasnell commented on #29
Closing this as we're going to be going with `require('http2')` for the time being.

[2017-05-05 06:33] #29 closed

[2017-05-05 06:34] jasnell commented on #22
I believe this has been resolved. Closing

[2017-05-05 06:34] #22 closed

[2017-05-05 06:37] jasnell commented on #19
writes to a stream are buffered in a link list in the native code, and are only written out to the socket on each tick of the even loop. nghttp is prompted to write whatever data it needs. The callback will pull queued data off the linked list to send it. If there is no data for nghttp to send for a particular stream, that stream is "paused" in nghttp's internal state tracking. This issue was a to

[2017-05-05 06:37] #19 closed

[2017-05-05 06:41] jasnell commented on #67
For now, definitely focus on documented behavior. We can revisit this once we have that done and working.

[2017-05-05 08:29] mcollina commented on #68
OOh, so in our compat layer and upgrade path, we should check that it still working perfectly with WebSocket.

[2017-05-05 08:29] #68 closed

[2017-05-05 08:31] mcollina commented on #66
As discussed in https://github.com/nodejs/http2/issues/68, there is no WebSocket upgrade for HTTP2. So, we should verify it still work as expected.

[2017-05-05 08:49] jasnell commented on #68
for http/1 yes, when using http/2, the `Upgrade` header is illegal to use so there actually is not a method for upgrading to WebSockets when using http/2. We'll need to make sure that the upgrade to WebSockets from HTTP/1 still works once we've added the support for upgrading to http/2 but the rest is still entirely up in the air. We'll have to document that there's no way to use http/2 and websoc

[2017-05-05 09:25] yosuke-furukawa opened #82 "REPL does not have 'http2' as a built-in library."
REPL has 'http' and 'https' as built-in libraries.
But 'http2' is not included.

* **Subsystem**:
http2

[2017-05-05 09:40] yosuke-furukawa opened #84 "How do I get http2 session ?"
I would like to write some tests about http2 session, but I don't understand how to get the session from http2 server.

according to implementation guide, we have the following example codes.

[code]

if the API does not exist yet, I will send other PR.

* **Version**:
* **Platform**:
* **Subsystem**:
http2

[2017-05-05 13:09] yosuke-furukawa commented on #84
I have got it!

[code]

thanks!

[2017-05-05 13:09] #84 closed

[2017-05-05 13:52] danbev opened #88 "Requesting write access"
Would it be possible for me to get write access to this repo so that I can merge approved PRs?

[2017-05-05 13:52] mcollina commented on #88
👍

[2017-05-06 06:11] sebdeckers commented on #67
🤔 Is this issue discussing server push support or header API compatibility?

The compatibility layer in #47 tries to stay true to the *documented* APIs, for headers on the request and response. Cookies are not yet supported. I don't think it's prohibitively difficult but would rather leave it for a separate PR.

FWIW, core currently uses an Object for headers and trailers. That could be changed to

[2017-05-06 06:20] sebdeckers commented on #82
Seems to work for me. Are you running the correct binary?

## v8.0.0-pre

[code]

## v7.10.0

[code]

[2017-05-06 14:50] addaleax commented on #82
Seems like this can be closed now :)

[2017-05-06 14:50] #82 closed

[2017-05-07 09:01] #59 closed

[2017-05-08 20:14] robertkowalski commented on #76
Sadly not, it still throws:

[code]

the same applies for `req.getHeader('date')`, I described it in https://github.com/nodejs/http2/pull/94

[2017-05-08 22:42] igwejk commented on #79
@jasnell I'd like to contribute too. Do you have any pointers to share on how to get in and get started?

/cc @mcollina

[2017-05-09 03:29] sebdeckers commented on #76
@robertkowalski Try #47

[2017-05-09 09:12] robertkowalski commented on #76
@sebdeckers with #47 `req.headers` and `req.path` works, but `req.getHeader('date')` throws:

[code]

[2017-05-09 11:51] sebdeckers commented on #76
Oops misread your code. Afaik request does not have a getHeader method. Most of the helper APIs for headers are only on the response object.

[2017-05-10 09:23] mcollina opened #98 "HTTP2 docs"
We should start working on docs, as it would be easier to onboard new collabs.
Also, docs would show inconsistencies in the API, so it's a good idea overall.

[2017-05-10 09:26] mcollina commented on #79
@igwejk I think you should read https://github.com/nodejs/http2/blob/master/doc/http2-implementation-notes.md and go through our current tests.

Increasing the code coverage would be handy, but also porting tests that have been written for HTTP1. Also start documenting things might be useful https://github.com/nodejs/http2/issues/98.

[2017-05-10 17:36] jasnell commented on #98
Yep, a docs PR should be opened by Friday

[2017-05-10 21:24] robertkowalski opened #99 "http2 client: end event not emitted if no data listener registered"
The http2 client will not emit `end`, given no `data` listener is registered, even if the server ends the response.

The following code calls `req.on('end')` just in the case `req.on('data')` is registered.

[code]

[2017-05-10 21:27] robertkowalski commented on #76
thanks for explaining! 👍

btw I tried #47 and it worked (except the missing header method, but that seems to be expected).

[2017-05-10 21:27] #76 closed

[2017-05-12 08:02] mcollina opened #101 "http2: tests for trailers"
As titled, we need a bunch of tests (and probably bug fix) for trailers. Who wants to add those?

This method is not covered: https://github.com/nodejs/http2/blob/master/lib/internal/http2/compat.js#L316

[2017-05-12 21:05] jasnell commented on #55
@kjin ... is this resolved now?

[2017-05-12 21:07] jasnell commented on #88
@danbev ... you should receive an invite to join the nodejs/http2 team which should have write permissions on this repo

[2017-05-12 21:09] jasnell commented on #98
See: https://github.com/nodejs/http2/pull/102

[2017-05-12 21:09] #88 closed

[2017-05-12 21:09] jasnell commented on #4
This issue is out of date. Going to close it in favor of the list of currently open issues

[2017-05-12 21:09] #4 closed

[2017-05-12 21:29] jasnell opened #103 "http2: Build failure on Windows"
CI is showing nghttp2 library failing to build on windows: https://ci.nodejs.org/job/node-compile-windows/8991/label=win-vcbt2015/console

<details>
<summary>Partial list of failures</summary>

[code]
</details>

[2017-05-12 21:32] jasnell opened #104 "http2: segfault in test-async-wrap-check-providers"
On several of the linux images in CI, we're getting segfaults in test/parallel/test-async-wrap-check-providers: https://ci.nodejs.org/job/node-test-commit-linux/9842/nodes=ubuntu1610-x64/console

<details>
<summary>Partial test results</summary>

[code]
</details>

[2017-05-12 21:38] jasnell opened #105 "http2: failures on raspbian"
https://ci.nodejs.org/job/node-test-binary-arm/7999/RUN_SUBSET=4,label=pi2-raspbian-wheezy/console

[code]

[2017-05-12 22:28] jasnell opened #107 "http2: async_hooks support"
We need to make sure there is proper async hooks support here. Specifically, we need appropriate hooks for the creation / destruction of an `Http2Session`, hooks for the creation / destruction of a Stream, each of the write operations, and the session shutdown operation.

[2017-05-13 07:18] davidep87 opened #108 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
* **Version**: http2 v. 3.3.6
* **Platform**: NodeJS 7.7.1
* **Subsystem**: KoaJS (v. 1.2.4), Koa-send, koa-router, koa-passport

I am using http2 in a project that is using SSL from Let's encrypt.
If i use http2 i get this error, instead if i switch over https module all work good.
**(node:60502) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 close listeners added. Us

[2017-05-13 07:41] mcollina commented on #108
Can you please upload an example to reproduce? Ideally without any external dependencie, but if you can only reproduce with Koa it is fine as well.

[2017-05-13 08:00] davidep87 commented on #108
Sure.. i will update this issue here in the comments during this weekend with a repo containing all the stuff

[2017-05-13 08:25] mcollina commented on #108
The minimal it is the better.

[2017-05-13 13:30] davidep87 commented on #108
Creating a new minimal codebase i wasn't able to get the error. But going back to the project and looking around i've found a **favicon.ico declared with the wrong path**.
That looks like the reason of the problem, but i try to investigate a little bit more about it.
If you have any suggestions let me know about it thanks

[2017-05-13 14:26] jasnell commented on #108
If you use the `--trace-warnings` command line argument it will output the stack trace that is actually triggering the warning. That should at least let us know which EventEmitter is hitting the listener limit.

[2017-05-13 14:29] jasnell commented on #104
Should be fixed with #106

[2017-05-13 14:29] #104 closed

[2017-05-14 14:58] jasnell commented on #62
this should be fixed now

[2017-05-14 14:58] #62 closed

[2017-05-14 16:22] akc42 commented on #108
Actually I think this is a well known (at least to me :-) ) problem with `serve-static` and how it handles large numbers of requests on the fly.  See

https://github.com/expressjs/serve-static/issues/87#issuecomment-301148815

Its actually in the `on-finished` module that koa also uses.

There is no memory leak, what actually happens is that each time it creates a stream to send data from server t

[2017-05-14 16:28] mcollina commented on #108
Closing then :). You are welcome to try this out, this will be part of node itself.

[2017-05-14 16:28] #108 closed

[2017-05-14 16:40] akc42 commented on #108
@mcollina yes I know this will be part of node, and I am waiting for an opportunity to switch over.  Of particular interest to me is how this module handles the situation of the client going away (or more precisely hitting the refresh button) in the middle of the transmission by the server.  My app makes a last minute desperate attempt to send an "release all locks" api request to the server and t

[2017-05-15 08:33] mcollina commented on #103
@jasnell is it building on your windows machine? All the problems are related to nghttp2, maybe we are missing some flags? Or is this an older compiler?

https://nghttp2.org/documentation/package_README.html#notes-for-building-on-windows-msvc

[2017-05-15 11:34] mcollina commented on #99
This is expected, as `'end'`  does not trigger the stream to flow. You should manually call `resume()`, add a `on('data')` or `on('readable')` event. This is part of streams, not http2.

[2017-05-15 12:51] robertkowalski commented on #99
thats interesting, as the http1 tests don't require it.

On Mon, May 15, 2017 at 1:34 PM, Matteo Collina <notifications@github.com>
wrote:

[2017-05-15 13:24] mcollina commented on #99
Have a look at: https://github.com/nodejs/http2/blob/98e54b0bd4854bdb3e2949d1b6b20d6777fb7cde/test/parallel/test-http-date-header.js#L53

[2017-05-15 13:50] jasnell commented on #103
I haven't tried yet. I opened the issue as a reminder to look into it this week :)

[2017-05-15 17:54] sebdeckers opened #114 "http2: cookies"
The `set-cookie` header may appear multiple times. Its values should be handled as an Array in all response header methods.

[2017-05-15 18:22] jasnell commented on #114
heh... great minds think alike... https://github.com/nodejs/http2/pull/115
I was just working on this :-)

[2017-05-15 18:23] jasnell commented on #114
well... same area. at least :-) .. the mapToHeaders function was not handling multi-valued headers appropriately. This should fix that.

[2017-05-15 19:08] sebdeckers commented on #114
@jasnell Hah, awesome!

If the HTTP/2 API supports duplicate headers for any header, the compatibility layer may need to mimic the old behaviour described in [`message.headers`](https://nodejs.org/api/http.html#http_message_headers):

[2017-05-15 19:37] jasnell commented on #114
yeah, for the first point, we may need to enforce that at a lower level... not just in the compat layer.

[2017-05-15 19:55] marcoalbarelli commented on #101
Hi
This may be the perfect entry point for my first contribution.
How urgent  do you think this task is?
Trailers are not very much used so my gut feeling is: not that much, but of  course I may be wrong

[2017-05-15 21:05] robertkowalski commented on #99
doh!

man thank you, I got a bit rusty!

[2017-05-15 21:05] #99 closed

[2017-05-15 22:04] robertkowalski opened #118 "http2: status code is string instead of number"
The status code is a string now, not of type number any more.

Apart from the compat change, from a user perspective its a bit unhandy to get back the statuscode as a string, as you have to cast it before you make something like:

[code]

Example for failing, ported http1 test:

[code]

fails with:

[code]

[2017-05-15 22:14] jasnell commented on #118
Yep... this would be a fairly easy fix if you'd like to give it a shot. There are three ways to approach it:

1. In the native later, if the header field name is `:key`, coerce the value to a number. This likely would be the much more difficult way.

2. In core.js, in the `onSessionHeaders` function, check for the existence of the `:status` header and coerce it's value to a number (e.g. `headers[H

[2017-05-15 22:19] jasnell opened #119 "http2: CONNECT method support"
https://tools.ietf.org/html/rfc7540#section-8.3 of the spec has a whole list of requirements for implementing the `CONNECT` method properly. I have yet to look at those at all.

[2017-05-15 22:44] robertkowalski commented on #118
Cool, I went for 2) and opened https://github.com/nodejs/http2/pull/120 -- I ran into an issue with closing the connection and its getting late here, maybe a bug?

[2017-05-15 22:45] jasnell opened #121 "http/2: starting HTTP/2 for "http" URIs (http/1 upgrade to http/2)"
For anyone who wants to take on the challenge of implementing support for automatic upgrades from HTTP/1 to HTTP/2, here are the basic requirements from the spec:

----
[Starting HTTP/2 for "http" URIs](https://tools.ietf.org/html/rfc7540#section-8.3)

[code]

[code]

[code]

-----

As far as implementation is concerned, the upgrade path can essentially be handled either as a special handler for t

[2017-05-15 23:00] jasnell opened #122 "http2: starting HTTP/2 with TLS ALPN"
For anyone who may want to take this one on...

----
[Starting HTTP/2 for "https" URIs](https://tools.ietf.org/html/rfc7540#section-3.3)

----

Using the TLS ALPN mechanism, a server can theoretically be written to listen for both HTTP/1 and HTTP/2 requests, allowing the client to determine which to use based on the protocol identified via ALPN. To support this, a new TLSServer implementation woul

[2017-05-16 04:48] jasnell commented on #69
Items 1 and 2 are done. Item 3 likely won't be possible. There's no notification from nghttp when it has applied any changes to priority. We'll have to track that on our own or get more sophisticated later.

[2017-05-16 04:48] #69 closed

[2017-05-16 05:26] sebdeckers commented on #122
Happy to take a stab at this today. Will open a PR once it's working.

[2017-05-16 11:31] mcollina commented on #121
I'm thinking _we should not do this_ right now.

[2017-05-16 11:33] mcollina commented on #101
@sebdeckers why the sad face?

@marcoalbarelli I think it's a right chunk of a task :). Go ahead and write it. We would need this in some weeks, there should be plenty of time.

[2017-05-16 13:57] akc42 opened #126 "Initial experiences with converting from legacy http2 module to core http2; Chunk repeat problem?"
I have a large and complex application SPA that I am developing which up until now has been using the http2 module from molnarg/node-http2 repository.  I thought I would give this new version a quick trial to get an idea for how much conversion effort I might need when this hits.

My immediate conclusion what was that theoretically I only needed to change one line of code, namely
[code]
needed to

[2017-05-16 14:02] mcollina commented on #126
Thanks for your feedback @akc42! That's highly needed, and what we are looking for. Are you able to reproduce the problem you are having in isolation? Would you mind attaching a full example that demonstrate it?

[2017-05-16 14:12] akc42 commented on #126
This is my serve static replacement
[code]

[2017-05-16 14:19] akc42 commented on #126
@mcollina Its a real problem showing the full application as
1. It is massive
2. Its not open source, I am developing it for a client.
I will have a look further at whether I can offer a cut down version, that still shows the issue as a repo on github

[2017-05-16 14:30] mcollina commented on #126
To solve this, we need a way to reproduce. Can you assemble a trimmed down version that shows the same problem by just using core http2 module?

[2017-05-16 15:17] akc42 commented on #126
Try this.  Its a simple server and the polymer 2.0 (just released) starter kit as the client.  It shows the corruption for me.

https://github.com/akc42/http2-corrupt

The README.md in this repository should show you how to set it up.  You need to adjust dns for the certificate files, or (as is probably the case) you can replace them with your own.

[2017-05-16 15:31] #70 closed

[2017-05-16 15:54] jasnell commented on #121
Yeah, there's definitely a lot to this and it could easily take up quite a bit of time.

[2017-05-16 16:29] sebdeckers commented on #101
@mcollina I felt guilty for skipping the trailers implementation in PR #47. 😥

[2017-05-16 16:41] sebdeckers commented on #126
@akc42 FWIW I've done a similar migration from node-http2 to node-spdy to this native implementation. Perhaps this repo can be helpful to you: https://gitlab.com/sebdeckers/http2server/merge_requests/20 (This is the latest branch, implements push promises, static file serving, mime types, compression, etc.)

[2017-05-17 08:26] mcollina commented on #101
@sebdeckers no need, you are doing amazing work. I found out because there was a bug there, and all the tests were passing.

[2017-05-17 14:46] AndrewBarba opened #131 "http2: Document Best Practices for Module Authors"
More of a question than an issue, but do you guys intend to document best practices in the docs section for http2? I have a library that connects to Apple's push notification h2 api and I'm converting it to use h2 in core. Currently unit tests are passing against master nodejs/http2 but somethings are unclear regarding best practices. For example, best practices around destroying the h2 client, do

[2017-05-17 14:50] jasnell commented on #131
Yes, as much as possible. The most difficult and challenging task for us right now and going forward will be to define what the APIs actually need to be from a usability standpoint and what those best practices should be. For instance, right now we *have* to close the client connection manually because we have no way of knowing when the user will be done with it. We can get around that, potentiall

[2017-05-17 21:17] jasnell opened #133 "http2: more comprehensive priority support"
At some point we will need to decide if there needs to be more comprehensive support for dealing with priorities and stream dependencies. Just leaving this issue here as a placeholder.

[2017-05-18 06:27] akc42 opened #135 "False assumption that a callback exists?"
I was trying to debug the issue #126 so was slowly stepping through in the debugger. So much so that (I presume) something timed out.

I got this error thrown (admittedly before a different error was thrown)

[code]

[2017-05-18 14:08] akc42 commented on #126
Here is another datapoint in case it is useful to anyone.  I did a character count of the original file and the corrupted file.  They are identical (21094 in the case of property-assessors.html, the first corrupted file when I run the http2-corrupt setup referenced above).  I had originally thought that the corrupted file was longer than the original because the line numbering was higher at the en

[2017-05-18 16:05] akc42 commented on #126
I found another interesting fact.  The first corrupted file corruption started at character (using `wc -c` on linux) 8158 and the next corrupted file I checked it started at character 7531 **but** the data that was used to corrupt the file came from character 4088 onwards in **all three**  of the first three cases that I checked.

Makes me wonder if there is some form of pause restart problem.

[2017-05-18 17:21] jasnell commented on #126
It's entirely possible. I'll start running some tests that pass a large amount of data through on both the client and server and make sure we get good check sums on both.

[2017-05-19 01:22] sebdeckers commented on #122
Can be closed

[2017-05-19 06:52] #122 closed

[2017-05-19 08:34] mcollina opened #139 "http2: implement close and finish for the compat layer"
As titled.

[2017-05-19 13:23] #135 closed

[2017-05-19 15:35] mcollina commented on #67
I think we can close this now.

[2017-05-19 15:35] #67 closed

[2017-05-19 15:37] mcollina opened #140 "http2: client should be unref() by default"

[2017-05-19 17:59] jasnell opened #141 "Heads up: Rebasing from nodejs master"
I will be updating http2/master from nodejs/master today. This may have an impact on open PRs and work in progress. In will require a force push on master. I will add a comment when done

[2017-05-19 19:47] jasnell commented on #141
Done!

[2017-05-20 00:59] kjin opened #142 "http2: h2spec test failures"
Running `h2spec -p 8080` ([h2spec](https://github.com/summerwind/h2spec)) on a minimal server

[code]

yields the following failures

[code]

This is using node built on top of commit 5b69905.

For the timeout failures, it seems like h2spec waits roughly 1 second before moving on to the next test (but I'm not sure about this). So this might be a false positive if the http2 implementation closes th

[2017-05-20 05:41] sebdeckers opened #143 "http2: onSessionRead after stream:end"
* **Version**: latest on master as well as PR #138
* **Platform**: MacOS
* **Subsystem**: http2

There is a problem with the client. When the server terminates the socket, the client emits an `end` event before it has finished emitting all `data` events. This causes `onread` to throw an error.

Apologies for vague explanation. Here is the code to reproduce the error. `pushserver.js` is a long runn

[2017-05-20 11:41] sebdeckers commented on #143
I've rarely felt this clueless, but regardless I'm trying to figure out this problem.

Some findings so far:

Callbacks from nghttp2 are executed in the correct sequence:

1. Data on stream 1: Nghttp2Session::OnFrameReceive (NGHTTP2_DATA)
1. Closing stream 1: Nghttp2Session::OnStreamClose
1. Data on stream 2: Nghttp2Session::OnFrameReceive (NGHTTP2_DATA)
1. Closing stream 2: Nghttp2Session::OnStre

[2017-05-20 13:24] sebdeckers commented on #143
Did some more digging... It seems like the second `NGHTTP2_DATA` frame was not being queued due to `Nghttp2Stream::IsReading` returning `false` on the pushed stream. The `reading_` property for the second stream is `-1` because `Nghttp2Stream::ReadStart` is only triggered later by `core.js` at `this.session._handle.streamReadStart(stream.id)`.

Is it correct to fix this as follows?

`src/node_http

[2017-05-20 13:47] sebdeckers commented on #143
Alternative solution:

`src/node_http2_core.cc`

[code]

[2017-05-21 10:19] akc42 opened #145 "Problems with popular middleware"
In #126 I briefly refer to a problem with using the `serve-static` module.  I have now tracked down what the issue is.

`serve-static` uses `send` which in turn uses `on-finished`.  This seems to assume that the response object will either already have a socket attached on with emit the 'socket' event when one is attached.

This never happens and so it can never finish the connection

I also have

[2017-05-21 10:43] mcollina commented on #145
Very likely `on-finished` or `send` would need to be updated to support HTTP2.
Specifically `on-finished` is very HTTP1 specific where a single socket is attached to a single HTTP request.

@sebdeckers @jasnell maybe we need to alias `connection` and `socket` to the underlining http2 stream in the compatibility layer. What do you think?
Specifically, https://github.com/jshttp/on-finished/blob/mast

[2017-05-21 11:43] sebdeckers commented on #145
@akc42 Are you running with the patch from #130 ? This should provide the `req.socket` property and allow `on-finished` to add its event handlers. Could you perhaps share a minimal example of this problem? I'd love to take a closer look.

@mcollina Not sure about changing socket to a stream; wouldn't that break expected behaviour like what we saw in modules that look at socket properties for crypt

[2017-05-21 11:49] sebdeckers commented on #145
FWIW the `isFinished` code won't work with the getter we are using.

https://github.com/jshttp/on-finished/blob/master/index.js#L68

https://github.com/nodejs/http2/blob/master/lib/internal/http2/compat.js#L270

This will always return `undefined`.

[2017-05-21 12:01] akc42 commented on #145
I think I am running with the very latest.  fetched, merged and compiled this morning

[2017-05-21 12:03] akc42 commented on #145
on-finished is looking for a socket on the response, not the request.

[2017-05-21 12:10] sebdeckers commented on #145
@akc42 Oh, I see. That's not a documented API though AFAIK. @mcollina Is this an oversight in the http/1 documentation? Should we add a socket/connection to the response for backwards compatibility?

[2017-05-21 13:33] sebdeckers commented on #118
Can be closed

[2017-05-21 13:42] #118 closed

[2017-05-21 15:18] jasnell commented on #142
Excellent! This is quite helpful. I've suspected that we still have some issues around proper handling of error conditions and these results prove that out.

On 5.1.1.2, I suspect that nghttp simply does not include the necessary check which means we'll have to track it ourselves. That adds a bit of complexity because of *where* this error needs to occur (in the native layer before anything gets t

[2017-05-21 15:34] jasnell commented on #143
I *think* the first solution is the preferred. We intentionally do not call `ReadStart()` until the js layer calls for it. This is to ensure that the machinery necessary on the js side is all ready to go to receive the data.

[2017-05-21 19:21] jasnell commented on #143
Ok, looking at it further we have a few issues here. The most significant is that while the final DATA frame is being received and queued internally on the client in the native layer, the subsequent RST_FRAME that is received causes the internal data storage for the stream to be cleared before it can be read. This will happen when the DATA frame and RST_FRAME are received on the same tick (which i

[2017-05-22 06:22] mcollina commented on #145
@sebdeckers yes, I think so. However I'm starting to think we should expose the HTTP2Stream as `socket` and  `connection` (making them an alias for `stream`), rather than exposing the actual socket. What do you think?

[2017-05-22 06:55] sebdeckers commented on #145
@mcollina Hmm, not sure I understand the reasoning for that, could you show how that is useful? (I can see how H2 `stream` might be conceptually analogous to H1 `socket`, but is not very important to the compatibility layer.

Looking again at the samples discovered in #130, I'm worried it would break the following:

[code]

Though this might still work:

[code]

[2017-05-22 07:05] mcollina commented on #145
All the stream events for `on-finished` rely on the fact that the socket is 1-1 with the request. This is a given assumption throughout the whole API, and I think we can't achieve that with the underlining socket.

Adding properties/getters is relatively easy, as `encrypted` and `remoteAddress`  are easy properties to add, and maybe even `setTimeout` (nghttp2 does not have the concept, we would ha

[2017-05-22 07:32] sebdeckers commented on #145
So `req|res.socket` would be a hybrid of the TCP socket and the H2 stream. 🤔 Yeah that makes sense. We can put that together with Object.assign or a Proxy/Reflect Frankenstein. 😂

[2017-05-22 07:40] mcollina commented on #145
I'm actually thinking of adding a bunch of getters to our H2 stream (which is already a `Duplex`). I think that might be the best analogy.

[2017-05-23 08:00] sebdeckers opened #146 "H2 Frames API"
* **Version**: n/a
* **Platform**: all
* **Subsystem**: http2

There are some interesting proposed HTTP extensions that define new HTTP/2 frames. For example [CACHE_DIGEST](http://httpwg.org/http-extensions/cache-digest.html#iana-considerations), [ALTSVC](http://httpwg.org/http-extensions/draft-ietf-httpbis-alt-svc.html#alt-svc-frame-registration), and [ORIGIN](http://httpwg.org/http-extensions/or

[2017-05-23 14:17] jasnell commented on #146
This is something that I definitely want to get through. As much as possible, for known extension frames, I would rather the support be handled at the native layer. If we want to support arbitrary extensions it should be fairly straightforward. I think we should definitely hold off a bit on this part tho and do it in a phase 2 after we land the primary support

[2017-05-27 01:15] sebdeckers commented on #143
Fixed in #138

Test case updated: https://github.com/jasnell/http2-1/blame/no-rest-for-the-weary/test/parallel/test-http2-compat-serverresponse-createpushresponse.js#L35-L36

[2017-05-27 01:15] #143 closed

[2017-05-27 01:17] sebdeckers commented on #114
Fixed in #115 (related: #129)

[2017-05-27 01:17] #114 closed

[2017-06-01 00:29] jasnell commented on #142
Going through the results myself now... here's the latest:

[code]

The session and socket is getting shutdown as it is supposed to be. Not sure why we're getting a timeout here:

[code]

[code]

This is using my currently open PR. The session now detects the invalid preface and shuts down the session and closes the socket... it's just not doing it exactly how the test runner is expecting.

[code]

[2017-06-02 11:49] sebdeckers commented on #141
Close?

[2017-06-06 01:22] jasnell commented on #103
@nodejs/platform-windows @refack ... If anyone has time to help with figuring out the windows build issues I'd appreciate it. I'm not all familiar with build systems on windows. The library is typically built with `cmake` and there are quite a few syntax errors reported.

[2017-06-06 01:24] jasnell commented on #103
Here's the current cmake config: https://github.com/nghttp2/nghttp2/blob/master/CMakeLists.txt

[2017-06-06 01:44] refack commented on #103
Will look into it.

[2017-06-06 02:56] refack commented on #103
Just for background, did it ever work? VS2013/5/7?
From what I'm seeing `cmake` and `GYP` output very different `vcxproj` files, so I'll do a more specific diff in the morning.
https://gist.github.com/refack/f06ed868a058e1f31668547771f0ae32

[2017-06-06 03:04] jasnell commented on #103
nope, just really started trying to figure it out. nghttp2 builds just fine on windows with cmake, so there's no doubt just some compiler configuration that is missing. Need to align the gyp build with the cmake build so that it works.

[2017-06-06 14:53] jasnell commented on #103
Few more notes on this for context: the nghttp2 source image in deps/nghttp2 is just the `lib` from the full nghttp2 source. The gyp that is there was designed to get up and running as quickly as possible. There is likely quite a bit still missing from it. We may also eventually want to build the benchmarking and testing tools.

[2017-06-06 16:52] #141 closed

[2017-06-06 16:53] jasnell commented on #98
Docs in and landed. Need additional ongoing work but will close this issue.

[2017-06-06 16:53] #98 closed

[2017-06-06 16:53] jasnell commented on #55
I believe this is resolved now. @kjin, if not, I'll reopen

[2017-06-06 16:53] #55 closed

[2017-06-06 16:54] jasnell commented on #72
I believe this is resolved now. Can reopen if necessary

[2017-06-06 16:54] #72 closed

[2017-06-06 16:58] jasnell commented on #133
Currently, the API includes the ability to set the priority for a stream, including sending a PRIORITY frame, and receiving an event when a PRIORITY frame is received. It is also possible to get the total dependency weight for a stream using the `Http2Stream.prototype.state` getter. That is all we should do with priority for the time being. Closing this issue.

[2017-06-06 16:58] #133 closed

[2017-06-08 13:55] refack commented on #103
So the tl;dr is `nghttp2` populates a `config.h` file using `cmake` from [`cmakeconfig.h.in`](https://github.com/nghttp2/nghttp2/blob/master/cmakeconfig.h.in)
Easy solution, populate on my machine and conditionally add for win32

[2017-06-08 14:09] marcoalbarelli commented on #101
It's taking me ages to solve this ticket I know
too bad paid work has a higher priority :\

If there's still time I'd _really_ like to close it, but if we don't and somebody wants to step in I'd understand

[2017-06-08 14:53] mcollina commented on #101
keep working on it! :)

[2017-06-09 14:41] jasnell commented on #103
were you able to get it building successfully with the gyp once that was provided?

[2017-06-09 14:42] jasnell commented on #101
@marcoalbarelli ... no worries!

[2017-06-19 10:25] sebdeckers opened #153 "Performance Regression: 100% CPU Usage & Memory Leak"
* **Version**: current master branch (commit: d8b5205a20e06aac27c554678caad08b5b05a4b2)
* **Platform**: macOS Sierra 10.12.5 (16F73)
* **Subsystem**: http2

For as long as a client is connected to an HTTP/2 server (with or without TLS), the node process hogs 100% CPU and memory usage of the process escalates rapidly (10's to 100's of MB/s).

Once the client disconnects the CPU usage returns to idl

[2017-06-19 11:45] sebdeckers commented on #153
Using `./configure --debug-http2 --debug-nghttp2` (as documented in https://github.com/nodejs/http2/commit/f43597b98f5cd2a82453a3c0d1ebeee22692b305) the node process logs the following line at an incredible rate:

[code]

🕵️

[2017-06-20 01:37] sebdeckers commented on #153
I'm unable to compile anything before the 18785c855018e0319820e3daba5729fd1ab76913 commit. (Was trying to find an older version that did not show the problem, which this commit does still have.)

[code]

😫

[2017-06-21 14:57] #153 closed

[2017-06-22 19:57] jasnell opened #157 "Rebasing from nodejs/master"
Heads up... I will be rebasing http2/master from nodejs/master today which will require a force push

[2017-06-22 20:49] jasnell commented on #157
Done!

[2017-06-22 20:49] #157 closed

[2017-06-26 23:51] sebdeckers opened #160 "QUIC"
FWIW, the author of nghttp2 just published an effort to implement QUIC called ngtcp2 at: https://github.com/ngtcp2/ngtcp2

Since we already have backwards compatibility, maybe forwards compatibility could be considered at some point. 😁

[2017-06-26 23:55] jasnell commented on #160
QUIC support is likely going to be quite a ways out but certainly worth discussing.

[2017-06-27 07:36] mcollina commented on #160
While I see value for the ecosystem to have http2 in core (as we have http), I see _less_ value in bringing quic in, as it is way less popular. I will try to solve the problem on how to build against Node openssl instead.

[2017-06-27 16:04] sebdeckers commented on #160
@mcollina Agreed, still too early for sure. Adoption could increase once the QUIC specs are finalised. The QUIC-to-HTTP mapping is now being developed as a separate spec. But QUIC has very similar concepts as HTTP/2: sessions, streams, frames, options, etc. With some decoupling/abstraction (e.g. TCP socket, native bindings) it may be possible to reuse much of the JavaScript code of the HTTP/2 impl

[2017-07-04 16:13] akc42 opened #166 "Failing to "make" after update"
Its been a while since I last built and tried out this version of http2, so I just pulled the latest from the repo and then tried to `./configure` and `make -j4` on my Debian Linux system.

It failed, as shown running make again after the first failure

[code]

Since I last tried it and now, I have had a difficult upgrade from Jessie to Stretch, so I might not of fully updated something. Can someo

[2017-07-04 16:15] mcollina commented on #166
Can you try a `make clean`?

[2017-07-05 17:17] akc42 commented on #166
make clean sorted it

[2017-07-05 17:17] #166 closed

[2017-07-05 20:51] akc42 commented on #126
I am happy to report now that I have just upgraded to the lastest version in master, that the corruption problems I referred to above no longer seem to be happening.

As a result of that success, I have started to use it with my "big" application.  Here I have run into another problem which I haven't got to the bottom of yet.  I am using the `router` module from npm (https://www.npmjs.com/package/

[2017-07-06 02:09] sebdeckers opened #168 "compat: stream:error -> [res|res]:error broadcasting"
I'm using `Http2Stream.respondWithFile` from an app that also uses the compatibility layer. Error handling is getting pretty bloated, IMO, because the stream error event is broadcasted to both request and response.

Current code:

[code]

Desired code:

[code]

What would be needed is to rename or stop propagating stream error events. It's a very simple change in the two error event handlers (for

[2017-07-06 07:16] akc42 commented on #126
I am closing in on the error.  Its in body parser (json) https://www.npmjs.com/package/body-parser

It is expecting some events so it attaches to the request stream

[code]
I have attached breakpoints on all of these functions.  It was only temporarily on `onData` (because everything times out whilst I am debugging) but it was called with the chunk of data that was the body), but I did a second ru

[2017-07-06 08:00] mcollina commented on #168
I'm not convinced that:

[code]

Is nice, specifically on the `response.stream.on('error'` part.

[code]

is also _very_ bad practice.

Errors on the underlining socket bubble up _differently_ in `require('http')`, see https://github.com/nodejs/node/blob/master/lib/_http_server.js#L45. Maybe we should not forward them, and rout them to `server.on('clientError')`.

[2017-07-06 08:04] mcollina commented on #126
@akc42 can you link those in body-parser source code? I can't find them right now.

[2017-07-06 09:55] sebdeckers commented on #168
@mcollina Apologies for the confusion. I totally agree, the `noop` handlers are egregious — I'm merely highlighting that handling of an underlying stream error in two distinct event handlers is awkward, yet not having *both* listeners would throw an 'uncaught error event' warning. I'm also leaning towards the `clientError` idea, so that handling the lower level event is possible, yet optional. I a

[2017-07-06 10:42] akc42 commented on #126
@mcollina Its in a module called `raw-body` that `body-parser` obviously brings in

The lines referenced above are on lines 228 on `index.js`  the functions are further down at 266 and beyond

[2017-07-10 18:29] jasnell opened #173 "Preparing for the PR against master"
This week I will be preparing the PR to open against nodejs/node master. Once that lands, all future work will be done in the nodejs/node repository following the normal Node.js core processes. In preparation for that, I will be squashing the commit history down to clean up the commit log. The PR is already going to be extremely difficult to review given the amount of code. The commit history in n

[2017-07-10 20:10] jasnell commented on #173
All.. I am preparing to force push to master with the nodejs/node master rebase. Just FYI...

[2017-07-10 20:14] jasnell commented on #103
This is fixed!

[2017-07-10 20:14] #103 closed

[2017-07-10 20:15] jasnell commented on #105
This should be fixed!

[2017-07-10 20:15] #105 closed

[2017-07-10 20:15] #79 closed

[2017-07-10 20:15] jasnell commented on #77
Believe this is resolved!

[2017-07-10 20:15] #77 closed

[2017-07-10 20:16] jasnell commented on #119
Done!

[2017-07-10 20:16] #119 closed

[2017-07-10 21:14] jasnell opened #175 "Race condition in stream.on('end')"
@mcollina ... Take a look at the following test case:

[code]

It is currently not working because the `'end'` event on the server side `stream` is not being emitted. Compare with the following that *does* work:

[code]

When I move the `getSrc().pipe(stream)` out of the `stream.on('end')` event handler, it works. Will need to track down why this is happening but if you happen to get a chance to l

[2017-07-10 21:25] jasnell commented on #175
The issue here is that `push(null)` is only happening when the stream is closed, which currently is only happening when both the writable and readable side are ended... I'm working up a fix.

[2017-07-10 23:17] jasnell opened #176 "Not working will unix sockets"
@mcollina @sebdeckers ... here's a fun todo ... we're currently not working 100% correctly with unix sockets... here's a test case:

[code]

Overall, this *should* just work, as the fact that it's a unix socket should be completely transparent to the http2 implementation details. Something definitely is not working tho...

[code]

I will be looking into it more, but if either of you get an opportu

[2017-07-11 06:53] sebdeckers commented on #176
FWIW, just had a quick look at it. The server side appears to function correctly. Successfully connected using `h2load` to the UNIX domain socket. And the Node.js `http2` client even receives the data in its buffer, but does not emit the `data` event.

##### Note to self

[code]

[2017-07-11 06:57] sebdeckers commented on #176
~~@jasnell I believe the above test case has some misplaced (?) code in the `server:stream` event handler. Receiving data is being tested in the client section.~~

Edit: Never mind.

[2017-07-11 07:09] mcollina commented on #175
The problem is here: https://github.com/nodejs/http2/blob/master/lib/internal/http2/core.js#L1366-L1369. We should bubble up from nghttp2 that the stream readable side should be closed.

[2017-07-11 18:01] akc42 commented on #126
I have been playing with this further today.  As far as I can see this is a failure somewhere down the line to emit 'end' on the request stream.  I can see that `Http2Stream` extends from Duplex, and to make that emit 'end', somewhere along the line someone has to call `this.push(null)` on it. (or `emit('end' ...)` specifically, but I can't find any of those).

As far as I can see there are only t

[2017-07-11 18:14] jasnell commented on #126
I *believe* I have a fix for this bug. I was not ending the readable side
correctly. I'll have a new pr later on today hopefully.

On Tue, Jul 11, 2017 at 11:01 AM Alan Chandler <notifications@github.com>
wrote:

[2017-07-11 18:21] sebdeckers opened #177 "Node.js http/2 performance benchmarks"
@jasnell Now that the Big PR is imminent, I was wondering how we're doing in terms of performance. Especially curious about serving lots of small files, as happens to be my use case.

Here is my preliminary data: https://benchmark.http2.live

(Note: Everything on the page is served by Node.js http2 using push. 😎)

[2017-07-11 18:27] jasnell commented on #177
Very nice. This is awesome. We definitely have a lot to do to tune performance. Right now, for instance, there are many small writes to the socket that are rather inefficient. We can and should do better there. Also, we need to optimize the maximum concurrent streams. I've noticed that keeping it limited to about 200 yields significantly higher performance than leaving it open ended. We'll have to

[2017-07-11 18:55] sebdeckers commented on #177
Agreed on all of that. 👍

I'm unable to complete an h2load run with >150 clients. Around 100 is a safe maximum. Could be a simple `ulimit` issue; haven't spent much time yet to dig deeper.

Interestingly enough, the `respondWithFile` approach performs extremely well at small response sizes. Probably the lack of JS/C++ overhead. But unfortunately it consistently fails to complete the test runs usin

[2017-07-12 08:05] mcollina commented on #177
I think we should start adding some benchmarks within this repo itself.

[2017-07-12 08:54] sebdeckers commented on #177
@mcollina Yea, that was just a little one day side project for fun. I would be happy to contribute to a more meaningful effort. Any guidance on the benchmark infrastructure of the Node.js repo?

[2017-07-12 13:26] mcollina commented on #177
I think the best guide is https://github.com/nodejs/http2/blob/master/doc/guides/writing-and-running-benchmarks.md.

[2017-07-12 13:30] jasnell commented on #177
Http benchmarks in core are... "Fun". Currently they require third party
benchmarker tools. This will be about the same. I'm thinking about building
h2load as part of the nghttp2 build and having it available for the http2
benchmarks but I haven't pushed forward on that yet.

On Wed, Jul 12, 2017 at 9:26 AM Matteo Collina <notifications@github.com>
wrote:

[2017-07-12 13:32] mcollina commented on #177
@jasnell I think we can have it installed externally, like we do with wrk. There is no need to build it internally. In due time I will add http2 capability to autocannon.

[2017-07-13 20:48] sebdeckers opened #179 "Error in socketOnTimeout"
* **Version**: 9.0.0pre 1eec6da17d534d504ff9556912636b0ffd4326a0
* **Platform**: macOS
* **Subsystem**: http2

I'm getting some real-world traffic on my server and it occasionally throws these uncaught errors. Seems to be related to the socket timeout.

[code]

[2017-07-14 15:57] jasnell commented on #179
Looks like destroy is happening before the timeout, we need to make sure that destroying clears the timeout to avoid the issue here.

[2017-07-14 18:05] jasnell opened #182 "Updating from nodejs/master one more time..."
All..

I will be updating http2/master from nodejs/master again within the next few minutes in preparation for opening the PR against nodejsnode master.

[2017-07-14 19:02] jasnell commented on #182
Done!

[2017-07-14 19:02] #182 closed

[2017-07-14 23:31] akc42 commented on #126
@jasnell I think your fix has worked, I now have a server that seems to be receiving and responding to GET and PUSH requests just fine.

I am now just puzzling how to use the http2 client (which is another subprocess of my application) to send a POST request to the server.  I "think" I have it, slightly different from `http`, but its late this evening here and my eyes need some rest before typing

[2017-07-14 23:40] AndrewBarba commented on #126
I've been doing some work with the core http2 client, you can see a very basic implementation here:
https://github.com/AndrewBarba/apns2/blob/node/http2/lib/http2-client.js

It shows how I'm setting http methods, but I definitely have questions about performance and best practices which I've raised here: https://github.com/nodejs/http2/issues/131 The client passed all the unit tests in that repo b

[2017-07-15 02:49] sebdeckers commented on #173
@jasnell What's the process now that the PR is open? E.g. #170 has an update

Not sure how long the PR review might take. Could have a cooling-off period. Would prefer to continue collaborating in the mean time.

[2017-07-15 03:28] jasnell commented on #173
I'll push the pr branch to nodejs/http2. We can open new prs against that :)

[2017-07-15 03:31] sebdeckers commented on #173
Ah, that's great. I now see an `initial-pr` branch in this repo.

[2017-07-15 03:33] sebdeckers commented on #173
Might also have worked if the big PR was from `nodejs/http2#pr` into `nodejs/node#master`.

[2017-07-16 10:27] akc42 opened #183 "Usability issue with respondWithFile"
I am trying to use respondWithFile to handle the static files in my application.  I am using the pattern that the "serve-static" module uses, namely that until I have managed the "stat" of a file as existing, any 'ENOENT' error should be just ignored and passed to the next middleware in my router stack.  If the reason I couldn't find the file was because it was a client side route, I can then resp

[2017-07-16 10:30] akc42 commented on #183
I just realised this is
https://github.com/nodejs/http2/issues/168
expressed a different way

[2017-07-17 07:05] mcollina commented on #168
@jasnell can you please have a look?

[2017-07-17 09:05] akc42 opened #184 "Fail to understand how I should handle connection failures from a client."
I am trying to construct a client that will handle failure conditions correctly.  I am currently testing a situation where the client tries to connect to a server that is not running.  I can see at the socket level a tls.connect is failing with "Connection Refused", but this doesn't seem to be translating into anything I can use.

Here is a promise I am trying to create for the session
[code]
but

[2017-07-17 17:48] jasnell commented on #173
I had tried that but it's a bit difficult given that nodejs/http2 is not a true fork of the nodejs/node repo. As it is, any changes to the initial-pr branch in nodejs/http2 can be easily pushed to the initial-pr branch in jasnell/http2-1 so things should just work

[2017-07-17 17:48] jasnell commented on #173
Going to close this issue now that the PR is opened!

[2017-07-17 17:48] #173 closed

[2017-07-17 17:50] jasnell commented on #168
I'm thinking that for the compatibility layer, errors that are happening on the server side should likely only be broadcast to the `res` object unless those specifically have to do with handling in the request. In other words, any `stream.on('error')` forwarding would go to `res` only.

[2017-07-17 17:51] jasnell commented on #184
Looks like this is an area we need to tighten up a bit. I'll look into it.

[2017-07-18 13:35] akc42 commented on #184
I have solved the problem by listening on `socketError` on the session, which I got from the code, and then realised that is what the docs said..

[2017-07-19 14:02] jasnell commented on #184
Good, ok. I'm going to add a commit to the initial PR that attempts to refine this just a bit. It should not impact the actual flow here so you shouldn't need to change anything.

Essentially the flow is this:

On the client side, when the Socket emits an `'error'` event, that is forwarded to the `'socketError'` event on the associated `ClientHttp2Session`. If no `'socketError'` event is registere

[2017-07-19 14:52] jasnell commented on #183
Going to close this as a duplicate of #168 :-)

[2017-07-19 14:52] #183 closed

[2017-07-19 19:08] jasnell commented on #179
Think I have this one and in the process fixed another issue.

[2017-07-19 20:02] jasnell commented on #177
closing this given that we have the basic benchmarking mechanism in there now.

[2017-07-19 20:02] #177 closed

[2017-07-19 20:02] jasnell commented on #175
Closing. This was fixed

[2017-07-19 20:02] #175 closed

[2017-07-20 01:03] jasnell opened #185 "TODO: implement range support for respondWithFile/responseWithFD"
Leaving this todo here: in the next couple of days I'll be implementing range request support for responseWithFile /responseWithFD. This essentially will just mean passing in a start offset and length limit. It will be up to users to implement support for the actual HTTP range headers.

[2017-07-20 14:56] sebdeckers commented on #179
Great, I'll give it a try! Will reopen if I find any issues. Thanks for this.

Been meaning to write that compat documentation but haven't had much time this week because we bought a new place. Learning a lot about plastering walls though. 🤷‍♂️

[2017-07-20 14:56] #179 closed

[2017-08-02 00:37] jasnell commented on #185
This is done, commit sitting in the initial-pr branch waiting to land.

[2017-08-02 00:37] #185 closed

[2017-08-04 20:03] #184 closed

[2017-08-04 20:28] jasnell opened #187 "We've landed in nodejs/node master"
Woot! We've landed in Node.js master. Please direct all further issues and PRs to that repo.
This repo will be archived as a record of the work up to this point!

[2017-09-27 22:06] MylesBorins opened #188 "Could we name module to http2.0?"
It seems like one of the bits of pushback we are getting on removing the flag for http2 in 8.x before LTS is that there is already a module named 'http2' and it would be disruptive to the ecosystem to remove the flag.

I would like to propose calling the module 'http2.0', which currently does not exist on npm. This would future proof our implementation allowing us to bump semver as http2 moves for

[2017-09-27 22:13] AndrewBarba commented on #188
As someone following this repo since day 1, just my thoughts:

1. The existing http2 simply does not work. At all. Anyone using it right now already has a broken system
2. The protocol is called `h2` so that would be one acceptable rename (although I dislike it)
3. It's not about calling it something semver, http2.0 is simply not an appropriate name

Just to reiterate: the existing http2 libs are

[2017-09-28 06:35] akc42 commented on #188
There was extensive discussion about this in #29, including thoughts on a migration plan.  The main issue is that that migration plan should probably already have started, but hasn't

[2017-09-28 12:15] jasnell commented on #188
The author of the existing `http2` module is more than happy to hand over the name and has already published a deprecated version of the module to npm. As long as we give people appropriate time to make the necessary adjustments to their code then landing this into 8.x should be ok. That may take a bit longer. Renaming the module would end up being more disruptive and ultimately unnecessary in the

[2017-09-28 12:27] mcollina commented on #188
@jasnell for that to happen, we need to remove the experimental status from http2. For that to happen, I would like to have the express team be comfortable with the API of http2.

Can we lift that experimental status during the LTS cycle?

[2017-09-28 12:30] jasnell commented on #188
It's a semver-minor addition that, other than taking over the http2 module name, does not introduce any other breaking changes so lifting the experimental status certainly is not out of the question. There's nothing in the LTS policy that says we cannot, at least.

[2017-09-28 17:11] ofrobots commented on #188
@mcollina

This suggests that the removal of a flag requires the API to become stable. AFAIK, this is not a documented policy; so perhaps this is conflating two different concerns?

The fact that Node 8 isn't going to have and _unflagged_ http2 sets us at Google Cloud back _a whole year_. This prevents us from building and releasing an _experimental_ gRPC module and getting real world feedback fro

[2017-09-28 18:36] jasnell commented on #188
The key and only real concern is the existing module and the impact on
those users. Switching this in 8.x to turn built in http2 off addresses
that problem, I think.

On Thu, Sep 28, 2017 at 12:11 Ali Ijaz Sheikh <notifications@github.com>
wrote:

[2017-10-12 05:52] jpike88 commented on #108
@mcollina This is likely to be linked to an issue with node-apn. So you have a stack trace to inspect.

https://github.com/node-apn/node-apn/issues/518

Any ideas on what might be occurring here?

[2017-10-12 06:53] mcollina commented on #108
@jpike88 this is definitely not your issue. Yours is related to the module npm “http2”, while this is about the http2 module within core.

[2017-10-13 03:02] jloiola commented on #121
Any progress/update on this?

[2017-10-13 06:30] mcollina commented on #121
I think it might be the right time to start working on this as core HTTP2 implementation is stabilizing. If anyone wants to take up the challenge. This is not trivial work.

[2017-10-19 20:56] MylesBorins commented on #188
closing for now... prefer scoped modules as approach

[2017-10-19 20:56] #188 closed

[2017-10-24 19:11] c0b commented on #140
agree; i'm writing some code running as http2 client, with current node-v8.7.0 it requires me to call `client.destroy()` to quit when no other things hold the event loop

vs. http.get( ... ) does not need to worry close the connection.

[2017-10-24 19:13] apapirovski commented on #140
@c0b I think that's a slightly different issue though because `get` is one request vs `connect` which is a whole connection. How does `net.connect` behave in a similar situation? Also it's better to open issues in the main Node tracker now that http2 is a part of core.

[2017-10-24 19:15] jasnell commented on #140
Yep, I should actually close out all of the issues here.

The point still stands tho... we should see if there's some reasonable approach we can take here.

[2017-10-24 19:15] #7 closed

[2017-10-24 19:15] #42 closed

[2017-10-24 19:15] #66 closed

[2017-10-24 19:15] #73 closed

[2017-10-24 19:15] #101 closed

[2017-10-24 19:15] #107 closed

[2017-10-24 19:15] #121 closed

[2017-10-24 19:15] #126 closed

[2017-10-24 19:15] #131 closed

[2017-10-24 19:15] #139 closed

[2017-10-24 19:15] #140 closed

[2017-10-24 19:15] #142 closed

[2017-10-24 19:15] #145 closed

[2017-10-24 19:15] #146 closed

[2017-10-24 19:15] #160 closed

[2017-10-24 19:15] #168 closed

[2017-10-24 19:15] #176 closed

[2017-10-24 19:20] apapirovski commented on #140
@jasnell I would say this is a broader issue of the client not matching the http client but in terms of how `http2.connect` works, this seems right to me since it mimics other places where a persistent connection is established (`net.connect` or `tls.connect`).

[2017-10-24 19:26] c0b opened #189 "http2 client: fallback to HTTP/1.1 ?"
I see #125 is about to fallback to HTTP/1.1 on a http2 server side, but how about http2 client? for all current available http client connection packages on npm, I'm not seeing one support http2 yet, include the https://www.npmjs.com/package/request ; wonder is there a way to connect an api server prefer http2 but can fallback to http1 if no h2 support from the server?

can we have an option `{ al

[2017-10-24 19:55] addaleax commented on #140
Fun fact, I was actually working on a fix for this this an hour ago or so. I should have something up today or tomorrow :)

[2017-10-24 21:01] c0b commented on #140
or close the whole repo instead? or just close the issues board, leave the remaining at read-only mode for another period before eventually delete

[2017-11-13 10:16] optimalisatie opened #190 "Support for Cache-Digest (Server Push optimization)"
Hi!

It would be nice if the Server Push implementation would support Cache-Digest. It will reduce both latency and bandwidth.

![cache-digest](https://user-images.githubusercontent.com/8843669/31587523-8530e7fc-b1e3-11e7-93f1-6d6208c8d5bc.png)

https://calendar.perfplanet.com/2016/cache-digests-http2-server-push/
http://httpwg.org/http-extensions/cache-digest.html
https://jakearchibald.com/2017/h

[2017-11-13 10:58] mcollina commented on #190
I think this is better explored in the ecosystem rather than in core. Why should this be in core?

@sebdeckers you worked on those components, do you think it might be worth it to implement them in core?

[2017-11-13 11:29] optimalisatie commented on #190
Server Push without Cache-Digest has almost no advantage for performance so it's a incomplete functionality.

Users may be misguided by the promise of HTTP/2 while Server Push without a Cache Digest will degrade performance on some aspects.

When Cache-Digest is available in the core the ecosystem can use it as a best practice and achieve optimal performance for their HTTP/2 server.

[2017-11-13 12:36] apapirovski commented on #190
I think that cache digest sent using frames should be in core, if it becomes a part of the spec. But I don't see why the core should implement support for cache digests as headers, that's definitely a user-land concern. We don't really process other headers and we should follow the same pattern here.

For this to be supported we would probably want nghttp2 to finalize their implementation: https:/

[2017-11-13 12:40] apapirovski commented on #190
Also, the fact that all client-side implementations of this (via headers) are in user-land rather than in the browsers, strongly indicates that this is not something that should be a part of Node core either.

[2017-11-13 13:30] optimalisatie commented on #190
The requirement of a service worker indicates that it would normally be part of the browser instead of user-land. It's a hack that enhances the browsers network handling to instruct the HTTP/2 server to optimize server push (i.e. not waste precious IO and bandwidth resources).

The browser doesn't know anything of the context of the resources of a website so it can't efficiently calculate a cache

[2017-11-13 13:47] sebdeckers commented on #190
@optimalisatie Thanks for sharing! Love the work you are doing with above-the-fold. 👍 I am also very passionate about this particular spec.

IMHO it is too early to implement cache digests in Node.js Core or any production software. It is an experimental RFC after all. Hopefully we will get there soon, but there is more work to be done on the spec.

For Node.js, exposing a generic way to send and

[2017-11-13 14:04] sebdeckers commented on #190
BTW @optimalisatie you can test my above-mentioned service worker implementation against the server support in https://www.npmjs.com/package/@http2/server (or the public https://http2.live service which is the same server).

[2017-11-13 18:48] optimalisatie commented on #190
Hi @sebdeckers,

Thank you for the valuable information!

This is also what I am interested in. I've tested alternative solutions such as HTML5 [Streams API](https://developer.mozilla.org/en-US/docs/Web/API/Streams_API) to load individual files in a single request, however, when HTTP/2 would be enhanced with Cache-Digest then it will most likely be the best solution. FPO is currently simply waitin

[2018-04-13 05:13] glemiere opened #191 "Feature request : Express support."
HI!

First of all, thank you very much for working on a native implementation of the HTTP/2 protocol in NodeJS, this is really awesome.
I just attempted to replace my spdy implementation by this experimental API of NodeJS v9, doing the following :
[code]

But my page doesn't seem to respond. I guess it means this API doesn't support express yet, could we just merge the express magic from `http` or

[2018-04-13 06:31] apapirovski commented on #191
This is now in nodejs/node so issues should be opened there. Unfortunately in this case the work is on express as they're relying on the specific http1 classes. You could follow along in their repo — there's a PR and an issue tracking the work.

[2018-04-13 06:31] #191 closed

[2018-04-13 12:10] apapirovski commented on #189
Closing stale issues on this repo as the work is happening in https://github.com/nodejs/node now.

[2018-04-13 12:10] #189 closed

[2018-04-13 12:11] apapirovski commented on #190
Suggestions was discussed and nothing actionable is available at this moment. Future issues would be better off in https://github.com/nodejs/node

Feel free to re-open if you think this should still be open though! :)

[2018-04-13 12:11] #190 closed

[2018-04-13 13:51] optimalisatie commented on #190
Thank you for considering.

While off topic, the following may be of interest to readers of this topic.

We recently implemented a Service Worker based asset push system that enables to push assets to the client when not already available in the cache. It uses a custom header, e.g. `X-SW-PRELOAD` that contains the assets attached to a page (for example all thumbnails of a product index). The Servi

[2018-06-06 13:04] budarin opened #192 "How to detect if client does not support http/2 ?"
I have configured server with options

[code]
I need to know if the client doesnt support.

[2018-06-06 13:06] mcollina commented on #192
You can check `req.httpVersion`: https://nodejs.org/api/http2.html#http2_request_httpversion.

[2018-06-06 13:06] #192 closed

[2018-06-06 13:08] budarin commented on #192
@mcollina
I'm sorry, but there is no req in
[code]

[2018-06-06 13:19] apapirovski commented on #192
@budarin `allowHTTP1` only works with the compatibility mode. See https://nodejs.org/api/http2.html#http2_alpn_negotiation for an example.

[2018-06-06 13:27] budarin commented on #192
@apapirovski
so in case of HTTP2 can I use session like stream in core API?
As I understand in case of HTTP1 I only dont use push - the rest behaviour of app is the same for both protocols. Am I right?

[2018-06-06 15:31] budarin commented on #192
thanks, understood.

[2018-07-02 00:29] evert commented on #146
Is it time to reconsider this? I'd love to try my hand at a prototype cache-digest impementation

[2018-07-02 04:13] sebdeckers commented on #146
(@evert Might be better to have this discussion at nodejs/node instead of this archived repo. The current http2 collaborators might not see this thread.)

👍🏻 I am also keen to help with a Cache Digest implementation. Exposing a custom frames API to userland JS would be fun for tinkering, but unlikely to achieve great performance. I would rather implement cache digest support in core, similar to th

[2018-07-02 04:28] jasnell commented on #146
If cache digest reaches rfc status, then nghttp2 is likely to implement it directly. Either way, that's actually where I'd start tho.

[2018-07-02 08:01] sebdeckers commented on #146
Relevant: https://github.com/nghttp2/nghttp2/issues/587

On Mon, Jul 2, 2018 at 12:28 PM James M Snell <notifications@github.com>
wrote:

[2018-07-06 01:23] Trott commented on #187
Time to archive this repository perhaps?

[2018-07-06 13:14] mcollina commented on #187
I'm archiving this.